---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout
        title="The Jingle Jam Twitch Extension"
        description="The Jingle Jam Community Twitch Extension is a Twitch Extension showing the Charities, Community Fundraisers and Yogs schedule"
        canonical="https://jinglejam.ostof.dev/twitch-extension/privacy"
>
    <div class="flex flex-col justify-center items-center text-white p-2">
        <p class="~text-2xl/4xl w-full text-center">The Jingle Jam Community Twitch Panel Extension</p>
        <p class="~text-xl/2xl w-full text-center">Privacy Policy</p>
    </div>

    <div class="text-white flex flex-col gap-4 max-w-96">
        <p class="font-bold">Effective Date: November 24th 2024</p>
        <p>
            The Jingle Jam Community Twitch Panel Extension respects your privacy and is committed to protecting it.
        </p>
        <p>
            This extension does <b>NOT</b> collect, store, or share any personal or user-identifiable information.
        </p>
        <p>
            If you have any questions or concerns regarding this privacy policy, feel free to contact me at <a class="underline" target="_blank" href="mailto:ostof13@gmail.com">ostof13@gmail.com</a>.
        </p>
        <p>
            This privacy policy is subject to change. Please check this page for the latest privacy policy.
        </p>
        <p>
            Thank you for using The Jingle Jam Community Extension.
        </p>
    </div>


</BaseLayout>
