# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.dev
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

.vscode/

.wrangler/

jingle-jam-firebase-adminsdk.json
updateTwitchUser.js
/.env.beta
/.env.prod
/.env.vars
/.env.vars.beta
/.env.vars.prod
.dev.vars
http/http-client.private.env.json
/http/secret/
/.junie/
/.tmp/
/.tmp
/http/
