---
import BaseLayout from "../../layouts/BaseLayout.astro";
import {Countdown} from "../../components/Countdown";
import {Disclaimer} from "../../components/Disclaimer";
---
<BaseLayout
  title="The Jingle Jam Community"
  description="A central place to showcase the streams of the Jingle Jam!"
  canonical="https://jinglejam.ostof.dev/community"
>
    <p class="text-white ~text-2xl/4xl">Community</p>
    <Countdown client:only="solid-js"/>
    <p class="text-white">Community Fundraisers will be shown shortly after the Collection goes live</p>

</BaseLayout>
