<div class={'items-center text-center'}>
    <p class={'text-lg'}>About</p>
    <p>
        jinglejam.ostof.app (previously jinglejam.yogs.app) is a site maintained by the community. You can see past Yogscast Jingle Jam Streams including
        links to the VODs.{' '}
        <strong>
            For more information about the Jingle Jam visit{' '}
            <a class={'underline'} href={'https://jinglejam.co.uk'}>
                jinglejam.co.uk
            </a>
        </strong>
    </p>
</div>
