<div class={'items-center text-center'}>
    <p class={'text-lg'}>Disclaimer</p>
    <p>
        jinglejam.ostof.app (previously jinglejam.yogs.app) is a community project and <strong>not associated or endorsed</strong> by the Jingle Jam, the
        Yogscast or their partners.
    </p>
</div>
