---
import FeedbackButtons from "./FeedbackButtons.astro";
---

<div class={'flex flex-col items-center justify-center text-center'}>
    <p class={'text-lg'}>Feedback</p>
    <p>Feedback is always appreciated.</p>
    <FeedbackButtons/>
</div>
