---
import {DiscordIcon, InstagramIcon, TiktokIcon, TwitchIcon, TwitterIcon} from "../common/JJIcons";
---

<div class={'w-full hidden md:flex flex-row gap-4 items-center justify-center p-2'}>
    <a
            class={'hover:scale-110 transition-all'}
            href={'https://twitch.tv/team/jinglejam'}
            target={'_blank'}
            aria-label={'Jingle Jam Stream Team'}>
        <TwitchIcon class={'~size-4/6'}/>
    </a>
    <a
            class={'hover:scale-110 transition-all'}
            target={'_blank'}
            href={'https://discord.gg/dsCsJJcvAx'}
            aria-label={'Jingle Jam Discord'}>
        <DiscordIcon class={'~size-4/6'}/>
    </a>
    <a
            class={'hover:scale-110 transition-all'}
            target={'_blank'}
            href={'https://x.com/jinglejam'}
            aria-label={'Jingle Jam Twitter'}>
        <TwitterIcon class={'~size-4/6'}/>
    </a>
    <a
            class={'hover:scale-110 transition-all'}
            target={'_blank'}
            href={'http://instagram.com/jinglejamofficial'}
            aria-label={'Jingle Jam Instagram'}>
        <InstagramIcon class={'~size-4/6'}/>
    </a>
    <a
            class={'hover:scale-110 transition-all'}
            target={'_blank'}
            href={'http://tiktok.com/@jinglejamofficial'}
            aria-label={'Jingle Jam Tiktok'}>
        <TiktokIcon class={'~size-4/6'}/>
    </a>
</div>


<div class={'w-full md:hidden flex flex-row gap-4 items-center justify-center p-2'}>
    <a
            class={'hover:scale-110 transition-all'}
            href={'https://twitch.tv/team/jinglejam'}
            target={'_blank'}
            aria-label={'Jingle Jam Stream Team'}>
        <TwitchIcon class={'~size-6/8'}/>
    </a>
    <a
            class={'hover:scale-110 transition-all'}
            target={'_blank'}
            href={'https://discord.gg/dsCsJJcvAx'}
            aria-label={'Jingle Jam Discord'}>
        <DiscordIcon class={'~size-6/8'}/>
    </a>
    <a
            class={'hover:scale-110 transition-all'}
            target={'_blank'}
            href={'https://x.com/jinglejam'}
            aria-label={'Jingle Jam Twitter'}>
        <TwitterIcon class={'~size-6/8'}/>
    </a>
    <a
            class={'hover:scale-110 transition-all'}
            target={'_blank'}
            href={'http://instagram.com/jinglejamofficial'}
            aria-label={'Jingle Jam Instagram'}>
        <InstagramIcon class={'~size-6/8'}/>
    </a>
    <a
            class={'hover:scale-110 transition-all'}
            target={'_blank'}
            href={'http://tiktok.com/@jinglejamofficial'}
            aria-label={'Jingle Jam Tiktok'}>
        <TiktokIcon class={'~size-6/8'}/>
    </a>
</div>
