---
import {SimpleScheduleOverlay} from "../../components/overlay/schedule/SimpleScheduleOverlay";
---
<style>
    html {
        background-color: #f00;
    }

    body {
        background-color: transparent;
    }

    #root {
        background-color: transparent;
    }

    :root {
        background-color: transparent;
    }
</style>
<div>
    <SimpleScheduleOverlay client:only="solid-js"/>
</div>
